<%- include("./header")%>
<div class="container">
    <form action="compose" method="post">
        <label for="">Title   </label>
        <input type="text" name="title">
        <br>
        <br>
        <label for="">Journal</label>
        <input type="text" name="writeup">
        <br>
        <br>
        <button type="submit">Publish</button>
    </form>
</div>